html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 10px;
}

#day-count {
  font-size: 80px;
  margin-bottom: 10px;
}

.round {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

footer > p {
  font-size: 10px;
}
